* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    background-image: linear-gradient(to top, #f3e7e9 0%, #fff 99%, #e3eeff 100%);
}

/*--------------------------------------------- Header part ---------------------------------------------*/

header {
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1000;
}

.menu-responsive {
    display: none;
    font-size: 1.5rem;
    color: #fff;
}

.billboard-search {
    position: relative;
    width: 100%;
    padding: 5px;
    background-color: #002069;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 300;
}

/* logo configs */
.logo {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo a {
    text-decoration: none;
    text-transform: capitalize;
}

.logo h1 {
    font-size: 3rem;
    color: #ffffff;
    margin: 0 40px;
    letter-spacing: 4px;
    padding-bottom: 5px;
}

/* Select configs */
.cinema-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
}

.cinema-search select {
    height: 35px;
    width: 200px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #999;
    font-size: 1rem;
}

.cinema-search select:hover {
    color: #555;
    background-color: #fafafa;
}

.cinema-search button {
    width: 150px;
    height: 35px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #E1B532;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: .2s;
}

.cinema-search button:hover {
    cursor: pointer;
    background-color: #FECB34;
    transform: translateY(-2px);
}

/* Nav bar with button and links to social media */
.main-nav {
    position: relative;
    background-color: #222222;
    /* height: 45px; */
    display: flex;
    z-index: 300;
}

/* menu part */
.menu {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50%;
}

/* menu button */
.menu button {
    text-decoration: none;
    border: none;
    color: #FECA30;
    font-size: 1rem;
    background: transparent;
}

.menu button:hover {
    cursor: pointer;
    text-shadow: 0 0 1px #fff7de;
}

/* div will show when click the button "menu" */

.menu-div {
    position: absolute;
    width: 100%;
    height: 65vh;
    background-color: #161616;
    transform: translateY(-200%);
    transition: .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
}

/* class will be toggle to show the div */
.menu-div.show {
    transform: translateY(0);
}

.menu-div-items {
    width: 150px;
    margin: 20px;
    transition: color 1s, border 1s;
}

.menu-div-items a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: #aaa;
}

.menu-div-items:hover h3 {
    text-decoration: none;
    color: #FECA30;
}

.menu-div-items:hover img {
    border: 1px solid #FECA30;
}

.menu-div-items img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: border 1s;
}

.menu-div-items h3 {
    margin: 20px;
    transition: color 0.6s;
}

/*--------------------------------------------- Socials part ---------------------------------------------*/
.socials {
    width: 50%;
    display: flex;
}

.socials ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
}

.socials ul li {
    display: flex;
    align-items: center;

    font-size: 1.8rem;
    list-style: none;
}

.socials ul li a {
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 0 5px;
    margin-top: 4px;
}

.socials ul li:last-child {
    margin-right: 100px;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #1da1f2;
}

.instagram:hover {
    background: linear-gradient(45deg, #ffbd2f, #f64f59, #C13584, #833ab4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.youtube:hover {
    color: #ff0000;
}


/*------------------------------------------------- Main ------------------------------------------------- */

/*  ---------------------------Main Slider --------------------------------*/

main {
    width: 100%;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 50vh;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-dots .dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(58, 57, 57, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-dots .dot.active {
    background-color: #000;
}

/* .-----------------------------listings------------------------------------ */

/* --------horizontal banner --------------- */
.horizontal-banner {
    height: 120px;
    width: 95vw;
    max-width: 900px;
    margin: 25px auto;
    border: 1px solid #dfdfdf;
    border-radius: 5px;

}

.horizontal-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.horizontal-banner a {
    height: 100px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

/* Check the listings */
/* Listings tittle */


.listings-tittle-container {
    width: 95vw;
    max-width: 700px;
    margin: 35px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-listings {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #004cff;
    width: 95vw;
    max-width: 500px;
    padding: 5px;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: .5s;
}

.check-listings i {
    height: 100%;
    position: absolute;
    font-weight: 400;
    padding: 10px 5px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color: #002069;
    right: 0;
    margin: auto 0;
    transition: .2s;
}

.check-listings:hover {
    background-color: #002069;
}

.check-listings:hover i {
    background-color: #004cff;
}

/* ----------section-aside-container -------------- */
.section-aside-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 20px 0;
}

/* Aside */

/* section */
.listings-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.listings {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* ------------------ list of movies -------------- */
.movie {
    position: relative;
    width: 180px;
    height: 300px;
    margin: 15px;
}

.movie:hover .movie-hover {
    opacity: 1;
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    box-shadow: 0 0 5px rgba(58, 57, 57, 0.5);
    border-radius: 3px;
}

.movie-tag {
    position: relative;
    background-color: #004cff;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    margin-top: -5px;
    padding: 0px;
    box-shadow: 0 0 3px #002069;
}

.movie-tag::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #004cff;
    z-index: 50;
}

.last-days {
    position: relative;
    background-color: #ff4a00;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    margin-top: -5px;
    padding: 0px;
    box-shadow: 0 0 3px #ff0044;
}

.last-days::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ff4c00;
    z-index: 50;
}

.movie-hover {
    background: #111111e0;
    z-index: 200;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    opacity: 0;
    box-shadow: 0 0 50px rgba(150, 150, 150, 50);
    transition: opacity .4s;
}

.movie-hover h4 {
    flex-grow: 8;
}

.movie-hover h4,
.movie-hover a {
    color: #ddd;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.movie-hover a:hover {
    text-decoration: underline;
}



/* --------------------------------footer------------------------------------ */
.footer {
    background-color: #222222;
}

.movie-country-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 0 1px #999;
    padding: 10px 0;
}

.movie-country-container * h2 {
    color: #E1B532;
    font-weight: 400;
}

.search-movie {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.search-movie * {
    width: 200px;
    padding: 5px 0;
    margin: 5px 0;
}

.change-country {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;

}

.change-country * {
    width: 200px;
    padding: 5px 0;
    margin: 5px 0;
}

.change-country select,
.search-movie input {
    font-size: 1.1rem;
    text-shadow: 0 0 #111;
    border-radius: 7px;
}

.footer-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 20px 0;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.section-container h2 {
    color: #E1B532;
    border-bottom: 1px solid #dadada;
    text-shadow: 0 0 #aaa;
    padding: 10px 0;
    margin-right: 30px;
    font-weight: 400;
}


.section-container a {
    color: #dadada;
    font-size: 1.1rem;
    text-decoration: none;
}

.section-container a:hover {
    text-decoration: underline;
}

.section-container a:nth-child(2) {
    margin-top: 20px;
}

.copyright {
    width: 100%;
    padding: 10px 0;
    background-color: #ddd;
    color: #30296b;
    text-align: center;
    text-transform: uppercase;
}

/* ----------------------- Movie Description section ----------------- */

.about {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.about-movie {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.about-movie img {
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.about-tittle {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.clasification {
    display: flex;
}

.clasification * {
    margin: 3px;
    font-weight: 400;
}

.clasification :nth-child(1) {
    background-color: #ccc;
    color: #fff;
    padding: 2px 5px;
}

.clasification :nth-child(2) {
    background-color: #111;
    color: #fff;
    padding: 2px 5px;
}

.clasification :nth-child(3) {
    background-color: #3b5998;
    color: #fff;
    padding: 2px 5px;
}

.synopsis h2 {
    width: 100%;
    color: #004cff;
    text-align: left;
    margin: 20px;
    padding-left: 35px;
}

.synopsis p {
    width: 90vw;
    max-width: 600px;
    text-align: left;
    margin: 20px;
    color: #333;
    text-shadow: 0 0 #000;
}

.synopsis table {
    width: 90%;
    margin: 50px;
}

.synopsis table * {
    box-shadow: 0 0 5px #fafafa;
    padding: 20px;
}

/* Responsive design */

/* ------------------------------ index ------------------------------ */

/* Header */
@media screen and (max-width: 800px) {

    .cinema-search {
        width: 100%;
        display: none;
        transform: translateX(200%);
    }

    .menu-responsive {
        display: block;
        width: 5%;
    }

    .logo {
        font-size: 0.9rem;
        justify-content: center;
        width: 95%;
    }

    .logo h1 {
        font-size: 2rem;
    }

    .menu {
        display: none;
    }

    .main-nav {
        position: absolute;
        width:100%;
        transform: translateX(-100%);
        transition: .3s ease-out;
    }

    .show-main-nav {
        display: block;
        transform: translateY(0%);
    }

    .socials {
        width: 100%;
        justify-content: center;
    }

    .socials ul {
        width: 100%;
        justify-content: center;
    }

    .socials ul li:last-child {
        margin-right: 0;
    }

    .menu-div {
        transform: translateY(0);
        transform: translateX(-100%);
        height: 80vh;
        overflow-y: scroll;
        justify-content: center;
    }

    .menu-div-items {
        margin: auto;
        margin-top: 30px;
    }

    .show-menu {
        display: block;
        transform: translateX(0);
    }
    .carousel-container {
        height: 150px;
    }
    .carousel-control {
        padding: 0;
    }

    .check-listings {
        font-size: .8rem;
    }
}

@media screen and (min-width:200px) and (max-width: 500px) {
    .carousel-container {
        height: 15vh;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .carousel-container {
        height: 200px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
    .carousel-container {
        height: 250px;
    }
}
/* @media screen and (min-width: 1200px) {
    .carousel-container {
        height: 45vh;
    }
} */