* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair', serif;
}

body {
    height: 100%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/469/232/original/abstract-white-background-with-halftone-texture-free-vector.jpg");
}

/*--------------------------------------------- Header part ---------------------------------------------*/

header {
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1000;
}

.billboard-search {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #002069;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
}

/* logo configs */
.logo {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo a {
    text-decoration: none;
    text-transform: capitalize;
}

.logo h1 {
    font-size: 3rem;
    color: #ffffff;
    margin: 0 40px;
    letter-spacing: 4px;
    padding-bottom: 5px;
}

/* Select configs */
.cinema-search {
    display: flex;
    align-items: center;
    width: 65%
}

.cinema-search select {
    height: 35px;
    width: 200px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #999;
    font-size: 1rem;
}

.cinema-search select:hover {
    color: #555;
    background-color: #fafafa;
}

.cinema-search button {
    width: 150px;
    height: 35px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #E1B532;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: .2s;
}

.cinema-search button:hover {
    cursor: pointer;
    background-color: #FECB34;
    transform: translateY(-2px);
}

/* Nav bar with button and links to social media */
.main-nav {
    position: relative;
    background-color: #222222;
    height: 45px;
    display: flex;
    z-index: 300;

}

/* menu part */
.menu {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50%;
}

/* menu button */
.menu button {
    text-decoration: none;
    border: none;
    color: #FECA30;
    font-size: 1rem;
    background: transparent;
}

.menu button:hover {
    cursor: pointer;
    text-shadow: 0 0 1px #fff7de;
}

/* div will show when click the button "menu" */

.menu-div {
    position: absolute;
    width: 100%;
    height: 65vh;
    background-color: #161616;
    transform: translateY(-200%);
    transition: .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
}

/* class will be toggle to show the div */
.menu-div.show {
    transform: translateY(0);
}

.menu-div-items {
    width: 150px;
    margin: 20px;
    transition: color 1s, border 1s;
}

.menu-div-items a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: #aaa;
}

.menu-div-items:hover h3 {
    text-decoration: none;
    color: #FECA30;
}

.menu-div-items:hover img {
    border: 1px solid #FECA30;
}

.menu-div-items img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: border 1s;
}

.menu-div-items h3 {
    margin: 20px;
    transition: color 0.6s;
}

/*--------------------------------------------- Socials part ---------------------------------------------*/
.socials {
    width: 50%;
    display: flex;
}

.socials ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
}

.socials ul li {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    list-style: none;
}

.socials ul li a {
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 0 5px;
    margin-top: 4px;
}

.socials ul li:last-child {
    margin-right: 100px;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #1da1f2;
}

.instagram:hover {
    background: linear-gradient(45deg, #ffbd2f, #f64f59, #C13584, #833ab4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.youtube:hover {
    color: #ff0000;
}


/*------------------------------------------------- Main ------------------------------------------------- */

/*  ---------------------------Main Slider --------------------------------*/

main {
    width: 100%;
    height: 100vh;
}
.carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 60vh;
  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  
  .carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .carousel-dots .dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-dots .dot.active {
    background-color: #000;
  }

  /* Check the listings */

.listings-tittle-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.listings-tittle-container a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #004cff;
    width: 30%;
    height: 30px;
    top: 50%;
    left:20%;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: .5s;
}

.listings-tittle-container a i  {
    height:100%;
    position: absolute;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 2px;
    background-color:#002069;
    right: 0;
    transition: .2s;
}

.listings-tittle-container a:hover  {
    background-color:#002069;
}

.listings-tittle-container a:hover i {
    background-color:#004cff;
}



